{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}

{% load account socialaccount %}

{% block title %}{% trans "Sign In" %}{% endblock %}

{% block extra_css %}
<style type="text/css">
  /* add appropriate colors to fb, twitter and google buttons */
  .fb {
    background-color: #3B5998;
    color: white;
  }

  .twitter {
    background-color: #55ACEE;
    color: white;
  }

  .google {
    background-color: #dd4b39;
    color: white;
  }

  .fb:hover {
    background-color: #324e8a;
    color: #ccc;
  }

  .twitter:hover {
    background-color: #489fe0;
    color: #ccc;
  }

  .google:hover {
    background-color: #d1402e;
    color: #ccc;
  }

  #socialLoginIcons {
    list-style: none;
  }

  #socialLoginIcons > li {
    padding: 10px 0px;
  }
</style>
{% endblock %}

{% block content %}
<div class="container oc-screen">
  <div class="row">
    <div class="col-md-6 col-12 center">
      <div style="width: 50%; margin:0 auto;">
        <ul class="list-group" id="socialLoginIcons">
        <li class="list-item">
          <a href="#" class="fb btn">
            <i class="fa fa-facebook fa-fw"></i> Login with Facebook
          </a>
        </li>
        <li class="list-item">
          <a href="#" class="twitter btn">
            <i class="fa fa-twitter fa-fw"></i> Login with Twitter
          </a>
        </li>
        <li class="list-item">
          <a href="/accounts/google/login/?process=login" class="google btn">
            <i class="fa fa-google fa-fw"> </i> Login with Google+
          </a>
        </li>
      </ul>
      </div>
    </div>
    <div class="col-md-6 col-12">
      <h1>{% trans "Sign In" %}</h1>
      {% if messages %}

          {% for msg in messages %}

          <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

              {{msg.message}}
          </div>

          {% endfor %}

      {% endif %}
    {% if form.errors %}
        {% for field in form %}
            {% for error in field.errors %}
            <div class="alert alert-error">
                <strong>{{ error|escape }}</strong>
            </div>
            {% endfor %}
        {% endfor %}
        {% for error in form.non_field_errors %}
            <div class="alert alert-error">
            <strong>{{ error|escape }}</strong>
            </div>
        {% endfor %}
    {% endif %}
      <form class="login" method="POST" action="{% url 'account_login' %}" style="margin-bottom: 10px">
        {% csrf_token %}

        <div id="div_id_login" class="form-group">
            <label for="id_login" class=" requiredField">
                Login <span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="login" placeholder="Username or e-mail" autofocus="autofocus" class="textinput textInput form-control" required="" id="id_login">
            </div>
        </div>
        <div id="div_id_password" class="form-group">
            <label for="id_password" class=" requiredField">
                Password <span class="asteriskField">*</span>
                <i class="fa fa-eye-slash" style="cursor: pointer" id="passwordEye" onclick="showPassword('id_password')"></i>
            </label>
            <div class="">
                <input type="password" name="password" placeholder="Password" class="textinput textInput form-control" required="" id="id_password">
            </div>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
      <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
    </div>
  </div>
</div>
{% endblock %}


{% block extra_js %}
<script type="text/javascript">

    function showPassword(fieldId) {
        if (fieldId == "id_password" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#passwordEye").attr("class", "fa fa-eye");
        } else {
            $("#"+fieldId).attr("type", "password");
            $("#passwordEye").attr("class", "fa fa-eye-slash");
        }
    }
</script>
{% endblock %}
