{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}

{% block head_title %}{% trans "Sign In" %}{% endblock %}

{% block content %}
<div class="container oc-screen">
  <div class="col-md-12">
    <div class="col-md-6 col-sm-8 col-10 mx-auto">
      <h1>{% trans "Sign In" %}</h1>
      {% if messages %}

          {% for msg in messages %}

          <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

              {{msg.message}}
          </div>

          {% endfor %}

      {% endif %}
      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %}
        {{ form|crispy }}
        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
        <button class="btn btn-primary" type="submit">{% trans "Sign In" %}</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}
