{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}
{% load account %}

{% block title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}
    <div class="container oc-screen">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1>{% trans "Password Reset" %}</h1>

          {% if messages %}

              {% for msg in messages %}

              <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

                  {{msg.message}}
              </div>

              {% endfor %}

          {% endif %}
          {% if form.errors %}
              {% for field in form %}
                  {% for error in field.errors %}
                  <div class="alert alert-error">
                      <strong>{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                  <div class="alert alert-error">
                  <strong>{{ error|escape }}</strong>
                  </div>
              {% endfor %}
          {% endif %}
          <p>{% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}</p>
          <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
              {% csrf_token %}
              {{ form|crispy }}
              <input type="submit" value="{% trans 'Reset My Password' %}" class="btn btn-primary" />
          </form>
          <br><br>
          <p class="alert alert-custom-warning"><b>Note:</b> {% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
        </div>

      </div>
    </div>
{% endblock %}
