{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}

{% block title %} Password Change {% endblock %}

{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container oc-screen">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <h1>{% trans "Change Password" %}</h1>
          {% if messages %}

              {% for msg in messages %}

              <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

                  {{msg.message}}
              </div>

              {% endfor %}

          {% endif %}
          <form method="POST" action="{% url 'account_change_password' %}" class="password_change">
              {% csrf_token %}
              <div id="div_id_oldpassword" class="form-group">
                  <label for="id_oldpassword" class=" requiredField">
                      Current Password <span class="asteriskField">*</span>
                      <i class="fa fa-eye-slash" style="cursor: pointer" id="currentPasswordEye" onclick="showPassword('id_oldpassword')"></i>
                  </label> <div class="">
                      <input type="password" name="oldpassword" placeholder="Current Password" class="textinput textInput form-control" required="" id="id_oldpassword">
                  </div>
              </div>

              <div id="div_id_password1" class="form-group">
                  <label for="id_password1" class=" requiredField">
                      New Password <span class="asteriskField">*</span>
                      <i class="fa fa-eye-slash" style="cursor: pointer" id="newPasswordEye" onclick="showPassword('id_password1')"></i>
                  </label>
                  <div class="">
                      <input type="password" name="password1" placeholder="New Password" class="textinput textInput form-control" required="" id="id_password1">
                  </div>
              </div>
              <div id="div_id_password2" class="form-group">
                  <label for="id_password2" class=" requiredField">
                      Confirm New Password <span class="asteriskField">*</span>
                      <i class="fa fa-eye-slash" style="cursor: pointer" id="confirmPasswordEye" onclick="showPassword('id_password2')"></i>
                  </label>
                  <div class="">
                      <input type="password" name="password2" placeholder="Confirm New Password" class="textinput textInput form-control" required="" id="id_password2">
                  </div>
              </div>
              <button type="submit" name="action" class="btn btn-primary">{% trans "Change Password" %}</button>
          </form>
        </div>
      </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    function showPassword(fieldId) {
        if(fieldId == "id_oldpassword" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#currentPasswordEye").attr("class", "fa fa-eye");
        } else if(fieldId == "id_oldpassword" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#currentPasswordEye").attr("class", "fa fa-eye-slash");
        } else if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#newPasswordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#newPasswordEye").attr("class", "fa fa-eye-slash");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#confirmPasswordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#confirmPasswordEye").attr("class", "fa fa-eye-slash");
        } else {

        }
    }
</script>
{% endblock %}
