{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}
{% block head_title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
    <div class="container oc-screen">
        <div class="col-md-12">
            <div class="col-md-6 col-sm-8 col-10 mx-auto">
                <h1>{% if token_fail %}{% trans "Bad Token" %}{% else %}{% trans "Change Password" %}{% endif %}</h1>

                {% if messages %}

                    {% for msg in messages %}

                    <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

                        {{msg.message}}
                    </div>

                    {% endfor %}

                {% endif %}
                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                        <div class="alert alert-error">
                            <strong>{{ error|escape }}</strong>
                        </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}

                {% if token_fail %}
                    {% url 'account_reset_password' as passwd_reset_url %}
                    <p>{% blocktrans %}The password reset link was invalid, possibly because it has already been used.  Please request a <a href="{{ passwd_reset_url }}">new password reset</a>.{% endblocktrans %}</p>
                {% else %}
                    {% if form %}
                        <form method="POST" action="{{ action_url }}">
                            {% csrf_token %}
                            <div id="div_id_password1" class="form-group">
                                <label for="id_password1" class=" requiredField">
                                            New Password <span class="asteriskField">*</span>
                                            <i class="fa fa-eye-slash" style="cursor: pointer" id="passwordEye" onclick="showPassword('id_password1')"></i>
                                </label>
                                <div class="">
                                    <input type="password" name="password1" placeholder="Password" class="textinput textInput form-control" required="" id="id_password1">
                                </div>
                            </div>
                            <div id="div_id_password2" class="form-group">
                                <label for="id_password2" class=" requiredField">
                                            Confirm New Password <span class="asteriskField">*</span>
                                            <i class="fa fa-eye-slash" style="cursor: pointer" id="confirmPasswordEye" onclick="showPassword('id_password2')"></i>
                                </label>
                                <div class=""> <input type="password" name="password2" placeholder="Confirm New Password" class="textinput textInput form-control" required="" id="id_password2"> </div>
                            </div>
                            <button type="submit" name="action" class="btn btn-success">{% trans "Change Password" %} &raquo;</button>
                        </form>
                    {% else %}
                        <p>{% trans 'Your password is now changed.' %}</p>
                    {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    function showPassword(fieldId) {
        if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#passwordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#passwordEye").attr("class", "fa fa-eye-slash");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#confirmPasswordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#confirmPasswordEye").attr("class", "fa fa-eye-slash");
        } else {

        }
    }
</script>
{% endblock %}
