{% extends "auth_base.html" %}

{% load i18n static crispy_forms_tags account socialaccount %}
{% block title %}{% trans "Sign Up" %}{% endblock %}

{% block extra_css %}
<style type="text/css">
    /* add appropriate colors to fb, twitter and google buttons */
    .fb {
        background-color: #3B5998;
        color: white;
    }

    .twitter {
        background-color: #55ACEE;
        color: white;
    }

    .fb:hover {
        background-color: #324e8a;
        color: #ccc;
    }

    .twitter:hover {
        background-color: #489fe0;
        color: #ccc;
    }

    .google {
        background-color: #0186F9;
        color: #fff;
        padding:0;
        margin: 0;
    }

    /* .google:hover {
        background-color: #d1402e;
        color: #ccc;
    } */

    #socialLoginIcons {
        list-style: none;
    }

    #socialLoginIcons>li {
        padding: 10px 0px;
    }

    #socialLoginIcons > li > a {
        padding: 4px 4px;
    }

    .signup a {
        text-decoration: none;
    }

    .orSection {
        width: 100%; 
        text-align: center; 
        border-bottom: 1px solid #ccc; 
        line-height: 0.1em;
        margin: 10px 0 20px; 
    }

    .orSection span {
        background:#F7F7F7; 
        padding:0 10px; 
    }
</style>
{% endblock %}

{% block content %}
<div class="container oc-screen">
    <div class="row">
        <div class="col-md-4 col-12 mx-auto">
            <!-- <div>
                <ul class="list-inline" id="socialLoginIcons">
                    <li class="list-inline-item">
                        <a href="#" class="fb btn btn-sm">
                            <i class="fa fa-facebook fa-fw"></i> Signup with Facebook
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" class="twitter btn btn-sm">
                            <i class="fa fa-twitter fa-fw"></i> Signup with Twitter
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="/accounts/google/login/?process=login" class="google btn btn-sm">
                            <i class="fa fa-google fa-fw"> </i> Signup with Google
                        </a>
                    </li>
                </ul>
            </div> -->
            <h1>{% trans "Sign Up" %}</h1>
            {% if messages %}

                {% for msg in messages %}

                <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

                    {{msg.message}}
                </div>

                {% endfor %}

            {% endif %}
            {% if form.errors %}
                {% for field in form %}
                    {% for error in field.errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                {% endfor %}
                {% for error in form.non_field_errors %}
                    <div class="alert alert-error">
                        <strong>{{ error|escape }}</strong>
                    </div>
                {% endfor %}
            {% endif %}
            <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
                {% csrf_token %}
                <div id="div_id_email" class="form-group">
                    <label for="id_email" class=" requiredField">
                        E-mail <span class="asteriskField">*</span>
                    </label>
                    <div class="">
                        <input type="email" name="email" placeholder="E-mail address" class="textinput textInput form-control" required="" id="id_email">
                    </div>
                </div>
                <div id="div_id_username" class="form-group">
                    <label for="id_username" class=" requiredField">
                        Username <span class="asteriskField">*</span>
                    </label>
                    <div class="">
                        <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="2" maxlength="150" class="textinput textInput form-control" required="" id="id_username">
                    </div>
                </div>
                <div id="div_id_password1" class="form-group">
                    <label for="id_password1" class=" requiredField">
                        Password <span class="asteriskField">*</span>
                        <i class="fa fa-eye-slash" style="cursor: pointer" id="passwordEye" onclick="showPassword('id_password1')"></i>
                    </label>
                    <div class="">
                        <input type="password" name="password1" placeholder="Password" class="textinput textInput form-control" required="" id="id_password1">
                    </div>
                </div>
                <div id="div_id_password2" class="form-group">
                    <label for="id_password2" class=" requiredField">
                    Confirm New Password <span class="asteriskField">*</span>
                    <i class="fa fa-eye-slash" style="cursor: pointer" id="confirmPasswordEye" onclick="showPassword('id_password2')"></i>
                    </label>
                    <div class=""> <input type="password" name="password2" placeholder="Confirm New Password" class="textinput textInput form-control" required="" id="id_password2"> </div>
                </div>

                {% if redirect_field_value %}
                <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
                {% endif %}
                <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
            </form>
            <div style="margin-top: 10px;">
                Already have an account? <a href="{% url 'account_login' %}">Login</a>
            </div>
            <div class="col-md-12" style="margin-top: 30px;">
                <p class="orSection"><span style="padding-top: 10px; font-weight: bold;">OR</span></p>
            </div>
            <a href="/accounts/google/login/?process=login" style="text-decoration: none; font-weight: bold;">
                <div class="col-md-12 google">
                    <img src="{% static 'img/google_logo.jpg' %}" height="50" width="50" alt="Google-Logo"> <span
                        style="margin-left: 10px;">Sign up with Google</span>
                </div>
            </a>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    function showPassword(fieldId) {
        if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#passwordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#passwordEye").attr("class", "fa fa-eye-slash");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#confirmPasswordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#confirmPasswordEye").attr("class", "fa fa-eye-slash");
        } else {

        }
    }
</script>
{% endblock %}
