{% extends "auth_base.html" %}

{% load i18n crispy_forms_tags %}
{% block head_title %}{% trans "Sign Up" %}{% endblock %}

{% block content %}
<div class="container oc-screen">
  <div class="col-md-12">
    <div class="col-md-6 col-sm-8 col-10 mx-auto">
      <h1>{% trans "Sign Up" %}</h1>
      {% if messages %}

          {% for msg in messages %}

          <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

              {{msg.message}}
          </div>

          {% endfor %}

      {% endif %}
      <form class="signup" id="signup_form" method="post" action="{% url 'account_signup' %}">
        {% csrf_token %}
        <div id="div_id_email" class="form-group">
            <label for="id_email" class=" requiredField">
                        E-mail <span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="email" name="email" placeholder="E-mail address" class="textinput textInput form-control" required="" id="id_email">
            </div>
        </div>
        <div id="div_id_username" class="form-group">
            <label for="id_username" class=" requiredField">
                        Username <span class="asteriskField">*</span>
            </label>
            <div class="">
                <input type="text" name="username" placeholder="Username" autofocus="autofocus" minlength="2" maxlength="150" class="textinput textInput form-control" required="" id="id_username">
            </div>
        </div>
        <div id="div_id_password1" class="form-group">
            <label for="id_password1" class=" requiredField">
                        Password <span class="asteriskField">*</span>
                        <i class="fa fa-eye-slash" style="cursor: pointer" id="passwordEye" onclick="showPassword('id_password1')"></i>
            </label>
            <div class="">
                <input type="password" name="password1" placeholder="Password" class="textinput textInput form-control" required="" id="id_password1">
            </div>
        </div>
        <div id="div_id_password2" class="form-group">
            <label for="id_password2" class=" requiredField">
                        Confirm New Password <span class="asteriskField">*</span>
                        <i class="fa fa-eye-slash" style="cursor: pointer" id="confirmPasswordEye" onclick="showPassword('id_password2')"></i>
            </label>
            <div class=""> <input type="password" name="password2" placeholder="Confirm New Password" class="textinput textInput form-control" required="" id="id_password2"> </div>
        </div>

        {% if redirect_field_value %}
        <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
        {% endif %}
        <button type="submit" class="btn btn-success">{% trans "Sign Up" %} &raquo;</button>
      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">

    function showPassword(fieldId) {
        if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#passwordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password1" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#passwordEye").attr("class", "fa fa-eye-slash");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "password") {
            $("#"+fieldId).attr("type", "text");
            $("#confirmPasswordEye").attr("class", "fa fa-eye");
        } else if (fieldId == "id_password2" && $("#"+fieldId).attr("type") == "text") {
            $("#"+fieldId).attr("type", "password");
            $("#confirmPasswordEye").attr("class", "fa fa-eye-slash");
        } else {

        }
    }
</script>
{% endblock %}
