body {
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  overflow-x: hidden;

  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
  background-color: #f7f7f7;
}

/* Make the image fully responsive */
.carousel-inner img {
  width: 100%;
  height: 50%;
}

.outer-div{
     height: 200px;
     overflow: hidden;
}
.inner-div{
     height: 100%;
     width: 100%;
     background-size: cover;
     background-position: center;
     transition: all 0.7s ease;
}
.inner-div:hover{
     transform: scale(1.3) rotate(3deg);
}

.card-div {
    margin-bottom: 4px;
}

.layer {
     position: absolute;
     top: 0;
     left: 0;
     width: 100%;
     background: rgba(0, 0, 0, 0.7);
     padding: 20px 23px;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 10px;
     text-transform: uppercase;
     color: #fff;
     border-radius: 1px 1px 0 0;
     z-index: 100;
}

.outer-div:hover .layer-icon {
     display: block;
}

.aboutUsBanner {
    height: 250px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0px;
    border-radius: 0px;
    margin: 20px 0px;
}

.aboutContainer {
    padding: 40px 0px;
    border: 1px solid #ccc;
}

.aboutUsHeading {
    padding: 20px 0px;
    font-weight: bold;
}

.aboutUsInfo {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-color: #3c3c3d;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: normal;
    padding: 20px 0px;
}

.aboutUsAuthors {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-color: #3c3c3d;
    letter-spacing: 1px;
    line-height: 1.2;
    font-weight: bold;
    padding: 30px;
    margin: 20px 0px;
}

.card-deck {
    margin-bottom: 5px;
}

/* @media (min-width: 576px) */
.card-deck {
    margin-right: 0px !important;
    margin-left: 0px !important;
}


.blog-main-heading-outer-div {
    font-family: 'Abril Fatface', cursive;
    margin-bottom: 30px;
}


.blog-main-heading-inner-div {
    width: 15%;
    margin: 0 auto;
    color: #222222;
    border-bottom: 2px solid #000;
    /* display: table; */
}

.blog-searchresults-inner-div {
  /* width: 15%; */
  margin: 0 auto;
  color: #222222;
  border-bottom: 2px solid #000;
}

.blog-main-heading-inner-div h3 {
    font-size: 50px;
}

.blog-category {
  color: #595856;
}

.blog-badge {
  font-size: 14px;
}

.timestamp {
    font-size: 10px;
    font-style: italic;
}

.tags {
    margin-top: 2px;
}

.author-info {
    padding: 4px 2px;
}

.author-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #f2f2f2;
}

.author-avatar-modal-pic {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 1px solid #f2f2f2;
}

.alert-success {
  background-color: #368630b5;
}

.custom-alert {
    position: relative !important;
    padding: .75rem 1.25rem !important;
    margin-bottom: 1rem !important;
    border: 1px solid transparent !important;
    border-radius: .25rem !important;
}

.alert-custom-warning {
    color: #856404 !important;
    background-color: #fff3cd !important;
    border-color: #ffeeba !important;
}

.alert-danger, .alert-error {
  background-color: #d35454;
  border: 0px;
}

/* horizontal rule */
.hr-50 {
  width: 50%;
}

/* Detail blog css */
.banner-heading {
    font-size: 35px;
    color: #191a19;
}

.detail-blog-banner {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border: 0px;
    border-radius: 0px;
    margin-bottom: 0px;
}

.banner-caption {
    font-style: italic;
    text-align: center;
}

.social-icons {
    font-size: 30px;
    letter-spacing: 4px;
    /* padding: 2px; */
}

.author-modal-dialog {
  overflow-y: initial !important;
}

.author-modal-body {
  height: 400px;
  overflow-y: auto;
}

.author-modal-body .info .desc {
  font-size: 18px;
}

.social-icons-modal {
  font-size: 25px;
  letter-spacing: 4px;
}

.social-icons-modal > a, .social-icons-modal > a:hover {
  text-decoration: none;
  color: #444;
}

.social-icons > a, .social-icons > a:hover {
  text-decoration: none;
  color: #444;
}

.written-by {
    font-transform: uppercase;
}
/* Detail Blog css end */

.author-bio-div {
    margin: 10px auto;
    width: 60%;
    padding: 0px 2px;
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,0.125);
    box-shadow: 1px 2px 3px;
}

.author-bio {
    /* width:80%; */
    padding: 0px 5px;
    color: #5c5e5c;
    min-height: 90px;
    /* float: left; */
}

.author-bio-name {
    font-weight: bold;
    margin:0px;
}

.author-bio-para {
    margin: 0px;
    padding-left: 0px;
}

.author-bio-pic-div {
    width: 20%;
    padding: 0px;
    float: right;
}

.clear {
    clear: both;
}

.author-bio-pic {
    /* border-radius: 50%; */
}

.side-box-search, .side-box-tags-group, .side-box-top-posts-group, .side-box-categories-group {
    padding: 5px;
}

.side-box-categories-group {
    font-size: 1.5rem;
}

.side-box-panelinfo {
  /* margin-top: 15px; */
  padding: 8px 4px;
  background-color: #fff;
}

.newblog-container .newblog-post-form .form-control {
    display: block !important;
    width: 100% !important;
    height: calc(1.5em + .75rem + 2px) !important;
    padding: .375rem .75rem !important;
    font-size: 1rem !important;
    font-weight: 400 !important;
    line-height: 1.5 !important;
    color: #495057 !important;
    background-color: #fff !important;
    background-clip: padding-box !important;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

.write-blog-footer {
  background-color: #f2f2f2;
  padding: 10px;
}

.scrollTop {
  position: fixed;
  right: 10%;
  bottom: 10px;
  background-color: #BE3F48;
  padding: 20px;
  opacity: 0;
  z-index: 999;
  transition: all 0.4s ease-in-out 0s;
}

.scrollTop a {
  font-size: 18px;
  color: #fff;
}

.badge-follow {
    padding: 2px;
    border-radius: 4px;
    border: 1px solid #00bc8c;
    font-size: 12px;
    color: #00bc8c;
    cursor: pointer;
}

.badge-following {
  padding: 2px;
  border-radius: 4px;
  border: 1px solid #00bc8c;
  font-size: 12px;
  color: #fff;
  background-color: #1dc67d;
  cursor: pointer;
}

.navbar {
    /* background: linear-gradient(145deg, rgba(52,154,237,1) 50%, rgba(52,216,237,1) 100%); */
    border-style: none;
    border-width: none;
}

.navbar #navbarSearchIcon {
  display: none;
}

.navbar-brand {
    text-transform: uppercase;
}

.navbar-nav .nav-item .nav-link {
    color: #fff;
}

.navbar-toggler {
    position: relative;
}

.navbar-toggler-icon {
    color: #fff;
}

.dropdown-menu {
    border-radius: 0px !important;
    min-width: 15rem !important;
}

.jumbotron {
  padding: 10px !important;
}

.banner-div {
    background-color: #808FC8;
    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center; */
    border: 0px;
    border-radius: 0px;
    font-family: 'Abril Fatface', cursive;
    color: #fff;
    font-weight: bolder;
    /* Add the blur effect */
    /* filter: blur(8px);
    -webkit-filter: blur(8px); */
}

.banner-div h1 {
  font-size: 65px;
  padding: 50px 10px;
}

/* .banner-info {
    background-color: rgba(69, 69, 69, 0.5);
    filter: blur(8px);
    -webkit-filter: blur(8px);
} */

.banner-desc {
    /* font-family: 'Chelsea Market', cursive; */
    font-family: sans-serif;
    font-size: 2.0em;
    font-weight: bold;
}

.detail-blog-banner {
    height: 200px;
    width: 100%;
}

.card-img-blog {
    -webkit-transition: -webkit-transform 0.8s ease-in-out;
    transition: transform 0.8s ease-in-out;
}

.card-img-blog:hover {
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);

    /* -webkit-transition: -webkit-transform .8s ease-in-out;
    transition: transform .8s ease-in-out; */
}

.filter_by_category_div, .filter_by_tag_div, .allblogs-div, .newblog-container,
.interests-div, .author-dashboard-div {
  background-color: #fff;
  padding: 10px 5px;;
}

.filter_by_category_div  h5 > a, .filter_by_category_div  h5 > a:hover {
  color: #383838;
}

.category_filter_authorname {
  color: #595858;
}

.category_filter_authorname:hover {
  color: #383838;
}

.detail-blog-banner-and-heading-div, .blog-detail-div {
    width: 70%;
    margin: 10px auto;
    text-align: left;
}

.blog-detail-container {
  margin-bottom: 20px;
  background-color: #fff;
  padding: 10px;
}

.blog-status-success {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #00cc66;
    border-radius: 50%;
    display: inline-block;
}

.blog-status-draft {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #ff3333;
    border-radius: 50%;
    display: inline-block;
}

.blog-status-waiting-for-approval {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #fafa39;
    border-radius: 50%;
    display: inline-block;
}

.moderator-notification-nav-button {
    position: absolute;
    top:0;
    left:0;
    margin-left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #799aed;
    border-radius: 50%;
    display: inline-block;
}

.moderator-notification {
    margin-left: 5px;
    height: 10px;
    width: 10px;
    cursor: pointer;
    background-color: #799aed;
    border-radius: 50%;
    display: inline-block;
}

.card-header-success {
    background-color: rgba(193, 237, 183, 0.3);
}

.card-header-info {
    background-color: rgba(229, 196, 245, 0.3);
}

.card-header-primary {
    background-color: rgba(91, 208, 235, 0.3);
}

.card-header-warning {
    background-color: rgba(240, 229, 110, 0.3);
}

#authorAllBlogsCountCard, #authorUnpublishedBlogsCountCard, #authorPublishedBlogsCountCard {
    padding: 10px 100px;
    border: 2px solid #fff;
    min-height: 200px;
}

#authorAllBlogsCountCard {
    background-color: #8aaecf;
}

#authorUnpublishedBlogsCountCard {
    background-color: #e3787c;
}

#authorPublishedBlogsCountCard {
    background-color: #a5d496;
}

.blog-detail-container h1, .blog-detail-container h2, .blog-detail-container h3,
.blog-detail-container h4, .blog-detail-container h5, .blog-detail-container h6 {
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
}

.blog-detail-container figure > img {
    max-width: 100%;
    height: auto;
}

.blog-detail-container figure > figcaption {
    font-style: italic;
    text-align: center;
    font-family: sans-serif;
    font-size: 12px;
}

.content-container {
  padding: 25px 0px;
}


.detail-blog-banner-and-heading-div > .banner-heading, .blog-body > .content-heading {
    font-family: 'Ubuntu', sans-serif;
}

.blog-body {
    /* width: 60%;
    margin: 0 auto; */
    font-size: 18px;
    font-family: 'Arbutus Slab', serif;
}

.content-banner {
  margin: 10px 0px;
}

.blog-intro-category-title {
    color: #8a8a84;
    font-size: 0.9rem;
    font-weight: bold;
}

.social-icons-and-likes {
    width: 60%;
    margin: 0 auto;
}

/* Dashboard page css*/
#likedBlogsTable > tbody > tr > td, #followingAuthorTable > tbody > tr > td , #bookmarkBlogsTable > tbody > tr > td {
     vertical-align: middle;
}
/* Dashboard page css end */

.side-box {
    padding: 5px;
    border: 1px solid rgba(0,0,0,0.1);
}

.thumbs-up-icon {
    font-size: 15px;
}

.categories-cards, .card-div {
  box-shadow: 3px 4px 5px grey;
}

.related-posts-sidebox .panel-body .media-list {
    padding-left: 10px;
}

.follow-your-favorite-blogs {
    margin-top: 8px;
    padding: 10px 4px;
    color: #4a4a48;
    font-family: 'Abril Fatface', cursive;
}

.follow-fav-blgs {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

.circle-icons, .circle-icons:hover {
    font-size: 0.5rem;
    letter-spacing: normal;
    color: #000;
    text-decoration: none;
}

footer {
    width: 100%;
    padding: 10px;
    background-color: #222;
    color: #fff;
}

footer ul li a, footer ul li a:hover {
  color: #fff;
}

.footer-copyright > a{
  color: #fff;
}

.blog-body > .custom-blockquote {
    border-left: 2px solid #3a3a3b;
    padding: 2px 2px 0px 8px;
    margin-top: 10px;
    font-style: italic;
    font-size: 20px;
}

.social-icons > .blog-bookmark {
  color: #000;
  padding: 0px;
  cursor: pointer;
}

.custom-messages {
  border: 0px !important;
  border-color: none;
}

/* Login and signup */
.oc-screen {
  padding: 10px 5px;
  min-height: 100vh;
  /* width: 100vw;
  box-sizing: border-box; */
}


/* .login-div, .signup-div {
  width: 50%;
  margin: 0 auto;
} */

.navbar-right {
  margin-right: 10px;
}
/* end of login and signup */


/* Categories CSS */
.whatever{
    background-color: #ccc;
    display: inline-block;
    padding: 10px;
    color: #000;
}

.blog-category-form {
  width: 100%;
}

.whatever:hover {
  cursor: pointer;
}

#checkboxes {
  /* margin-top: 60px; */
  padding: 10px;
  /* background-color: #fcfcfc; */
}


.interests-item {
  margin-top: 5px;
}

.category-item {
  margin-top: 5px;
  padding: 18px 2px;
  border: 2px solid #fff;
  background-color: #4d4e4f;
}

.category-item a, .category-item a:hover{
  text-decoration: none;
  color: #fff;
  padding: 25px 100px;
}

.categories-list-div a, .categories-list-div a:hover{
  color: #222;
  text-decoration: none;
}

#checkboxes input[type=checkbox]{
    display: none;
}

#checkboxes input[type=checkbox]:checked + .whatever{
    background-color: #0d1113;
    color: #fff;
    font-weight: bold;
}

.blog-category-page-heading {
  font-weight: bold;
}

/* End of Categories CSS */

/* Media queries for Mobile & Tablet */
@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .navbar #navbarSearchIcon {
    display: block;
  }

  .authorPicTableData {
      display: none;
  }

  .navbar .navsearchform {
    display: none;
  }

  .navbar ul {
    margin-left: 15px;
  }

  .banner-heading {
      font-size: 25px;
  }

  .banner-subtitle {
    font-size: 18px;
  }

  .banner-desc {
      font-weight: bold;
  }

  .banner-div img {
    height: 256px;
    width: 256px;
    float: left !important;
    margin-left: 55px;
  }

  .banner-div h1 {
    font-size: 35px;
  }

  .card-div {
    margin-bottom: 8px;

  }

  .blog-body {
      width: 100%;
      font-size: 15px;
  }

  .categories-list-div h3 {
    font-size: 1.0rem;
  }

  .category_filter_authorname {
    font-size: 10px;
  }

  .blog-detail-container pre {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 95.5555555555%;
    flex: 0 0 95.5555555555%;
    max-width: 95.5555555555%;
  }

  .blog-body > .custom-blockquote {
      padding: 2px 2px 0px 6px;
      margin-top: 5px;
      font-style: italic;
      font-size: 15px;
  }

  .detail-blog-banner-and-heading-div, .blog-detail-div {
      width: 100%;
      margin: 5px auto;
  }


  .blog-detail-div > .blog-body > .content-heading {
      font-size: 1.2rem;
  }

  .blog-detail-div > .blog-body > .detail-wrapper h2 {
    font-family: sans-serif !important;
  }

  .noblogs-category-div > h1 {
      font-size: 1.2rem;
  }
  .noblogs-category-div > button {
    font-size: 12px;
  }

  .noblogs-category-div > h5 {
      font-size: 0.8rem;
  }

  .author-bio-div {
      width: 100%;
  }

  .banner-info > h1 {
      font-size: 2.5rem;
  }

  .banner-info > .banner-desc {
      font-size: 14px;
  }

  .follow-fav-blgs {
      font-size: 2.0rem;
      line-height: 1.0;
  }

  .social-icons-and-likes {
      width: 80%;
      margin: 0 auto;
  }

  .blog-main-heading-inner-div h3 {
      font-size: 25px;
  }

  .login-container, .signup-container {
    padding: 5px 2px;
  }

  .signup-container {
    margin-bottom: 20px;
  }

  .toast-container>.toast {
    min-width: 300px;
  }

}

@media only screen and (max-width: 400px) {
    .author-bio-pic-div {
        display: none;
    }
}
