{% extends "base.html" %}
{% load static %}

{% block title %} {{ blog.blog_title }} {% endblock %}

{% block extra_head %}
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/dracula.min.css">
<link rel="stylesheet" href="{% static 'css/toast.min.css' %}">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block og_info %}
<meta property="og:title" content="{{blog.blog_title}}" />
<meta property="og:url" content="{% url 'blog:blog_detail' id=blog.id slug=blog.blog_slug %}" />
<meta property="og:description" content="{{blog.blog_subtitle}}" />
<meta property="og:image" content="https://thetechbrainer.com{{blog.banner_image.url}}" />
<meta property="og:image:alt" content="{{blog.banner_image_source}}" />
<meta property="og:type" content="article" />
{% endblock %}

{% block extra_css %}
<style type="text/css">
  .written-by {
      font-transform: uppercase;
  }

  .likesCount {
      padding: 2px 4px;
      border-radius: 4px;
      background-color: #808FC8;
      color: #fff;
      font-weight: bold;
  }

  .heartBtn{
  width: 50px;
  height: 50px;
  border-radius: 5px;
  background: none;
  cursor: pointer;
  transition: background 0.5s ease;
  }
  .heartBtn:hover{

  }
  .active.heartBtn:before,.active.heartBtn:after{
  background: red !important;
  }
  .heartBtn {
    width: 49px;
    height: 37px;
    transition: background 0.5s ease;
    display: table;
    position: relative;
  }
  .heartBtn:before,
  .heartBtn:after {
    transition: background 0.5s ease;
    position: absolute;
    content: "";
    left: 24px;
    top: 5px;
    width: 18px;
    height: 30px;
    background: dimgrey;
    border-radius: 50px 50px 0 0;
    transform: rotate(-45deg);
    transform-origin: 0 100%;
  }
  .heartBtn:after {
    left: 6px;
        transform: rotate(45deg);
        transform-origin: 100% 100%;
  }

  /* profile card */
  .customcard {
    padding-top: 20px;
    margin: 10px 0 20px 0;
    background-color: rgba(214, 224, 226, 0.2);
    border-top-width: 0;
    border-bottom-width: 2px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.customcard .card-heading {
    padding: 0 20px;
    margin: 0;
}

.customcard .card-heading.simple {
    font-size: 20px;
    font-weight: 300;
    color: #777;
    border-bottom: 1px solid #e5e5e5;
}

.customcard .card-heading.image img {
    display: inline-block;
    width: 46px;
    height: 46px;
    margin-right: 15px;
    vertical-align: top;
    border: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.customcard .card-heading.image .card-heading-header {
    display: inline-block;
    vertical-align: top;
}

.customcard .card-heading.image .card-heading-header h3 {
    margin: 0;
    font-size: 14px;
    line-height: 16px;
    color: #262626;
}

.customcard .card-heading.image .card-heading-header span {
    font-size: 12px;
    color: #999999;
}

.customcard .card-body {
    padding: 0 20px;
    margin-top: 20px;
}

.customcard.hovercard {
    position: relative;
    padding-top: 0;
    overflow: hidden;
    text-align: center;
    background-color: rgba(214, 224, 226, 0.2);
}

.customcard.hovercard .customcardheader {
  height: 135px;
  background-color: #cdecea;
  background-image: -webkit-linear-gradient(-90deg, #9296ad, yellow);
  background-image: -o-linear-gradient(-90deg, red, yellow);
  background-image: -moz-linear-gradient(-90deg, red, yellow);
  background-image: linear-gradient(-90deg, #539ebb, #808FC8);
}

.customcard.hovercard .avatar {
    position: relative;
    top: -50px;
    margin-bottom: -50px;
}

.customcard.hovercard .avatar img {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 5px solid rgba(255,255,255,0.5);
}

.customcard.hovercard .info {
    padding: 4px 8px 10px;
}

.customcard.hovercard .info .title {
    margin-bottom: 4px;
    font-size: 24px;
    line-height: 1;
    color: #262626;
    vertical-align: middle;
}

.customcard.hovercard .info .desc {
    overflow: hidden;
    font-size: 12px;
    line-height: 20px;
    color: #737373;
    text-overflow: ellipsis;
}

.customcard.hovercard .bottom {
    padding: 0 20px;
    margin-bottom: 17px;
}
  /* end of profile card */
</style>
{% endblock %}

{% if request.user.is_anonymous %}
  {% block home_banner %} {% endblock %}
{% endif %}

{% block content %}
  <div class="container blog-detail-container">
      {% if messages %}
        <div class="row">
          <div class="col-md-6 mx-auto">
          {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">
              {{msg.message}}
            </div>
          {% endfor %}
          </div>
        </div>
      {% endif %}

      <!-- The Modal -->
      <div class="modal fade" id="authorInfoModal">
        <div class="modal-dialog author-modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">About Author</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body author-modal-body">
              <div class="col-lg-12 col-sm-12">

                <div class="card hovercard customcard">
                  <div class="cardheader customcardheader">
                  </div>
                  <div class="avatar">
                      <img src="" alt="nah" class="author-avatar" id="authorAvatar" />
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="#" id="blogAuthorName"></a>
                      </div>
                      <div class="desc" id="blogAuthorIntroduction"></div>

                  </div>
                  <div class="col-lg-12" id="FollowMeOnAuthorInfo">
                    <h4>Follow me on:</h4>
                    <div class="bottom social-icons-modal">

                      <a href="" id="facebookHref" target="_blank" style="display:none;">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                      </a>

                      <a href="" id="twitterHref" target="_blank" style="display:none;">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                      </a>

                      <a href="" id="linkedInHref" target="_blank" style="display:none;">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>

                      <a href="" id="githubHref" target="_blank" style="display:none;">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <!-- <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div> -->

          </div>
        </div>
      </div>

      <div class="detail-blog-banner-and-heading-div">
          <h3 class="banner-heading"><b>{{blog.blog_title}}</b></h3>
          <h4 class="banner-subtitle">{{blog.blog_subtitle}}</h4>
          <div class="author-info">
              <div class="row">
                  <div class="col-md-1 col-sm-2 col-2">
                      <a href="#" data-toggle="modal" data-target="#myModal">
                          <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" alt="nah" class="author-avatar">
                      </a>
                  </div>
                  <div class="col-md-6 col-sm-5 col-10">
                      <a href="{% url 'blog:filter_by_author' id=blog.blog_author.id %}">{{blog.blog_author|title}}</a> &nbsp;
                      <a href="#" id="follow-author" data-followa="{{blog.blog_author.id}}">
                        <!-- Author follow check need to include here. -->
                        {% if follows_author %}
                          <span class="badge badge-following">Following</span>
                        {% else %}
                          <span class="badge badge-follow">Follow</span>
                        {% endif %}
                      </a>
                      <br>
                      <span class="article-timestamp">{{blog.created_on}}</span>
                  </div>
                  <div class="social-icons col-md-5 col-sm-5 col-12">
                    {% if blog.blog_author.personalinformation.facebook %}
                    <a href="{{blog.blog_author.personalinformation.facebook}}" target="_blank">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if blog.blog_author.personalinformation.twitter %}
                    <a href="{{blog.blog_author.personalinformation.twitter}}"  target="_blank">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if blog.blog_author.personalinformation.linkedin %}
                    <a href="{{blog.blog_author.personalinformation.linkedin}}"  target="_blank">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if blog.blog_author.personalinformation.github %}
                    <a href="{{blog.blog_author.personalinformation.github}}"  target="_blank">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    <a href="#" id="bookmark{{blog.id}}" title="Bookmark" data-pslug="{{blog.blog_slug}}" data-pid="{{blog.id}}" class="blog-bookmark"><i class="{% if request.user.is_authenticated %}{% if bookmark == 0 %}fa fa-bookmark-o{% else %}fa fa-bookmark{% endif %}{% else %}fa fa-bookmark-o{% endif %}" aria-hidden="true"></i></a>

                    <!-- <i class="fa fa-bookmark" aria-hidden="true"></i> -->
                  </div>

              </div>
          </div>
          <div class="jumbotron detail-blog-banner" style="background-image: url({{blog.banner_image.url}});">
              <div class="banner-info">
              </div>
          </div>
          <div class="banner-caption">
            {% if blog.banner_image_source %}
              <p>Image Source: {{blog.banner_image_source}}</p>
            {% else %}
            <p></p>
            {% endif %}
          </div>
          <div class="blog-category col-md-12">
            Category:
            <a href="{% url 'blog:filter_by_category' category_slug=blog.blog_category.category_slug %}">
              <span class="badge badge-light blog-badge">{{blog.blog_category}}</span>
            </a>
          </div>
          <div class="tags col-md-12">
            Tags:
            {% for tag in blog.blog_tags.all %}
              <a href="{% url 'blog:filter_by_tag' slug=tag.slug %}">
                <span class="badge badge-dark blog-badge">{{tag.name}}</span>
              </a>
            {% endfor %}
          </div>
          {% if request.user.is_authenticated %}
          <div class="reading-time col-md-12">
            <span class="reading-time__label"></span>
            <span class="reading-time__duration"></span>
            <span class="reading-time__word-count"></span>
          </div>
          {% endif %}
      </div>
      <hr class="hr-50">
      <div class="blog-detail-div">
          <div class="blog-body">
              <article class="detail-wrapper">
                <p>{{blog.content|safe}}</p>
              </article>
          </div>
      </div>

      <div class="row social-icons-and-likes">
          <div class="col-4">
              <!-- <button type="button" name="like" class="btn btn-primary">Like <i class="fa fa-thumbs-o-up thumbs-up-icon" aria-hidden="true"></i></button> -->
              {% if like.status is True %}
              <div id='heart{{blog.id}}' class='button heartBtn active' name="like_btn" data-pslug="{{blog.blog_slug}}" data-bid="{{blog.id}}" onclick="likeIt({{blog.id}}, this.id)"></div>
              {% else %}
              <div id='heart{{blog.id}}' class='button heartBtn' name="like_btn" data-pslug="{{blog.blog_slug}}" data-bid="{{blog.id}}" onclick="likeIt({{blog.id}}, this.id)"></div>
              {% endif %}
            <span class="likesCount" id="likesCount{{blog.id}}">Likes: {{likes_count}}</span>
          </div>
          <div class="col-6">
              <div class="row">
                  <div class="social-icons">
                      {% if blog.blog_author.personalinformation.facebook %}
                      <a href="{{blog.blog_author.personalinformation.facebook}}" target="_blank">
                        <i class="fa fa-facebook-official" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                      {% if blog.blog_author.personalinformation.twitter %}
                      <a href="{{blog.blog_author.personalinformation.twitter}}"  target="_blank">
                        <i class="fa fa-twitter-square" aria-hidden="true"></i>
                      </a>
                      {% endif %}

                      {% if blog.blog_author.personalinformation.linkedin %}
                      <a href="{{blog.blog_author.personalinformation.linkedin}}"  target="_blank">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                      </a>
                      {% endif %}

                      {% if blog.blog_author.personalinformation.github %}
                      <a href="{{blog.blog_author.personalinformation.github}}"  target="_blank">
                        <i class="fa fa-github" aria-hidden="true"></i>
                      </a>
                      {% endif %}
                  </div>
              </div>
          </div>
          <div class="col-2">
              {% if blog.blog_author == request.user %}
              <!-- Can directly Publish. -->
              <a href="{% url 'blog:edit_blog_post' id=blog.id slug=blog.blog_slug %}" name="editblog" class="btn btn-dark" title="Edit Blog" style="border-radius: 50%;"><i class="fa fa-edit" style="font-size: 16px; font-weight:bold;"></i></a>
              {% endif %}
          </div>
      </div>

      <!-- Blog author bio -->
      {% if request.user.is_anonymous %}
      <!-- No info modal until user logs in -->
      <div class="author-bio-div mx-auto">
          <div class="col-md-4 col-sm-4 col-6 author-bio-pic-div">
              <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" class="img-responsive author-bio-pic pull-right" alt="Author:sashi" width="90px" height="90px">
          </div>
          <div class="col-md-8 col-sm-8 col-12 author-bio">
              <span class="written-by">About Author</span>
              <h3 class="author-bio-name">{{blog.blog_author.user.username}}</h3>
              <!-- Author Introduction should be down in <p> -->
              <p class="author-bio-para col-12">{{blog.blog_author.personalinformation.full_introduction|truncatewords:15}}</p>
          </div>
      </div>
      {% else %}
      <a href="#" class="author-bio-div-link" onclick="showAuthorInfo({{blog.blog_author.id}})" style="text-decoration:none;">
          <div class="author-bio-div mx-auto">
              <div class="col-md-4 col-sm-4 col-6 author-bio-pic-div">
                  <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" class="img-responsive author-bio-pic pull-right" alt="Author:sashi" width="90px" height="90px">
              </div>
              <div class="col-md-8 col-sm-8 col-12 author-bio">
                  <span class="written-by">About Author</span>
                  <h3 class="author-bio-name">{{blog.blog_author.user.username}}</h3>
                  <!-- Author Introduction should be down in <p> -->
                  <p class="author-bio-para col-12">{{blog.blog_author.personalinformation.full_introduction|truncatewords:15}}</p>
              </div>
          </div>
      </a>
      {% endif %}

      <div class="row">
          <div class="col-md-8 mx-auto">
              <div class="float-left">
                  {% if prev_blog %}
                  <a href="{% url 'blog:blog_detail' id=prev_blog.id slug=prev_blog.blog_slug %}">
                      <button type="button" name="prev" class="btn btn-outline-primary">
                          <i class="fa fa-backward"></i> Previous
                      </button>
                  </a>
                  {% else %}
                  <a href="#!">
                      <button type="button" name="prev" class="btn btn-outline-primary" disabled>
                          <i class="fa fa-backward"></i> Previous
                      </button>
                  </a>
                  {% endif %}
              </div>

              <div class="float-right">
                  {% if next_blog %}
                  <a href="{% url 'blog:blog_detail' id=next_blog.id slug=next_blog.blog_slug %}">
                      <button type="button" name="next" class="btn btn-outline-primary">
                          Next <i class="fa fa-forward"></i>
                      </button>
                  </a>
                  {% else %}
                  <a href="#!">
                      <button type="button" name="next" class="btn btn-outline-primary" disabled>
                          Next <i class="fa fa-forward"></i>
                      </button>
                  </a>
                  {% endif %}
              </div>
          </div>
      </div>

      {% if blog.blog_author.user.id == request.user.id and request.user.is_authenticated%}
      <div class="col-md-8 mx-auto">
        <div class="alert alert-dark">
          <h4> <i class="fa fa-gears"></i> Actions</h4>
          <form class="" id="previewBlogForm" action="" method="post">
            {% csrf_token %}
            <!-- <input type="hidden" name="type" id="type" value=""> -->
            {% if moderator %}
            <button type="button" name="button" class="btn btn-success" id="acceptAndPublishBtn" data-bid="{{blog.id}}"><i class="fa fa-check"></i> Accept & Publish</button>
            {% else %}
            <a href="{% url 'blog:edit_blog_post' id=blog.id blog_slug=blog.blog_slug %}" name="editblog" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
            {% endif %}
          </form>
        </div>
      </div>
      {% endif %}
  </div>

  <div class="container">
      <div id="disqus_thread"></div>
  </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'js/read-time-count.js' %}"></script>
  <!-- toast notification for ajax request. -->
  <script type="text/javascript" src="{% static 'js/toast.min.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js">

  </script>

  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  /*
  var disqus_config = function () {
  this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
  this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  */
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://thetechbrainer.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

  <script type="text/javascript">

  document.addEventListener('DOMContentLoaded', (event) => {
    new ReadingTime(200, 'Read time:', 'min', 'words', 'Less than a minute');
  })

  function showAuthorInfo(id) {
      $.ajax({
          url: "{% url 'user:get_user_information' %}",
          dataType: "json",
          type: "POST",
          data: {"csrfmiddlewaretoken": "{{ csrf_token }}", "id": id},
          success: function(result) {
              if(result.author_avatar) {
                  $("#authorAvatar").attr("src", result.author_avatar);
              } else {
                  $("#authorAvatar").attr("src", "/static/img/default_avatar.jpg");
              }

              $("#blogAuthorName").text(result.author_name);
              $("#blogAuthorIntroduction").text(result.author_introduction);
              if(result.no_social_profile == false) {
                  if(result.fb) {
                      $("#facebookHref").attr("href", result.fb);
                      $("#facebookHref").show();
                  } else {
                      $("#facebookHref").attr("href", "");
                      $("#facebookHref").hide();
                  }

                  if(result.twitter) {
                      $("#twitterHref").attr("href", result.twitter);
                      $("#twitterHref").show();
                  } else {
                      $("#twitterHref").attr("href", "");
                      $("#twitterHref").hide();
                  }

                  if(result.linkedin) {
                      $("#linkedInHref").attr("href", result.linkedin);
                      $("#linkedInHref").show();
                  } else {
                      $("#linkedInHref").attr("href", "");
                      $("#linkedInHref").hide();
                  }

                  if(result.github) {
                      $("#githubHref").attr("href", result.github);
                      $("#githubHref").show();
                  } else {
                      $("#githubHref").attr("href", "");
                      $("#githubHref").hide();
                  }

                  $("#FollowMeOnAuthorInfo").show();
              } else {
                  $("#FollowMeOnAuthorInfo").hide();
              }

              $("#authorInfoModal").modal('show');
          },
          error: function(err) {
              // do something.
          }
      });
  }

  // Follow - When user Follows a Author.
  $("#follow-author").click(function() {
    var author_id = $(this).attr("data-followa");
    $.ajax({
        url: "{% url 'user:follow_author' %}",
        type: "POST",
        data: {
            "author_id": author_id,
            "dashboard": "dashboard",
            "csrfmiddlewaretoken": "{{csrf_token}}"
        },
        success: function(result) {
            $("#follow-author").empty();
            $("#follow-author").append(result);
        },
        error: function(error) {
            // If user not authenticated, then redirect to login.
            if (error.responseJSON.authenticated == false) {
                var path = window.location.pathname;
                window.location.replace("/accounts/login/?next="+path);
            }
        }
    });
  });

  // Redirect Anonymous User to login,
  // if they want to read full article.
  $("#readFullArticle").click(function() {
    var path = window.location.pathname;
    window.location.replace("/accounts/login/?next="+path);
  });


  // BookMark - When user Bookmarks a Blogpost
  $(".blog-bookmark").click(function () {
    var blog_slug = $(this).attr("data-pslug");
    var blog_id = $(this).attr("data-pid");

    // bookmark blogpost and sending 0 as param then replacing with slug.
    var url = "{% url 'blog:bookmark_blogpost' id=0 %}".replace('0', blog_id);
    $.ajax({
      type: "POST",
      url: url,
      data: {
        "post_slug": blog_slug,
        "csrfmiddlewaretoken": '{{ csrf_token }}'
      },
      success: function(result) {
        $("#bookmark"+blog_id).empty();
        $("#bookmark"+blog_id).append(result);
      },
      error: function(error) {
        // If user not authenticated, then redirect to login.
        if (error.responseJSON.authenticated == false) {
          var path = window.location.pathname;
          window.location.replace("/accounts/login/?next="+path);
        }
      }
    });
  });

  // LIKE Btn

  var scaleCurve = mojs.easing.path('M0,100 L25,99.9999983 C26.2328835,75.0708847 19.7847843,0 100,0');
  var el = document.querySelector('.button'),
  // mo.js timeline obj
  timeline = new mojs.Timeline(),

  // tweens for the animation:

  // burst animation
  tween1 = new mojs.Burst({
    parent: el,
    radius:   { 0: 100 },
    angle:    { 0: 45 },
    y: -10,
    count:    10,
    radius:       100,
    children: {
      shape:        'circle',
      radius:       30,
      fill:         [ 'red', 'blue' ],
      strokeWidth:  15,
      duration:     500,
    }
  });


  tween2 = new mojs.Tween({
    duration : 900,
    onUpdate: function(progress) {
      var scaleProgress = scaleCurve(progress);
      el.style.WebkitTransform = el.style.transform = 'scale3d(' + scaleProgress + ',' + scaleProgress + ',1)';
    }
  });

  tween3 = new mojs.Burst({
      parent: el,
      radius:   { 0: 100 },
      angle:    { 0: -45 },
      y: -10,
      count: 10,
      radius: 125,
      children: {
        shape: 'circle',
        radius: 30,
        fill: [ 'white', 'red' ],
        strokeWidth: 15,
        duration: 400,
      }
  });

  // add tweens to timeline:
  timeline.add(tween1, tween2, tween3);

  // when clicking the button start the timeline/animation:
  function likeIt(id, element_id) {
    var heart = "#"+element_id;
    var blog_slug = $(heart).attr("data-pslug");
    var url = "{% url 'blog:like_blogpost' id=0 %}".replace('0', id);
    $.ajax({
      type: "POST",
      url: url,
      data: {"blog_slug": blog_slug, "csrfmiddlewaretoken": "{{csrf_token}}"},
      success: function(result) {

        if(result.status == true) {
          $("#"+element_id).addClass('active');
          timeline.play();

          // update the likes count
          $("#likesCount"+id).text("Likes: "+result.likes_count);

          // show toast
          $.toast({
            title: result.title,
            content: result.toast_message,
            type: result.response_type,
            delay: 3000
          });

        } else {
          $("#"+element_id).removeClass('active');
          // update the likes count.
          $("#likesCount"+id).text("Likes: "+result.likes_count);

          // show toast
          $.toast({
            title: result.title,
            content: result.toast_message,
            type: result.response_type,
            delay: 3000
          });
        }
    },
    error: function(error) {
      // If user not authenticated, then redirect to login.
      if (error.responseJSON.authenticated == false) {
        var path = window.location.pathname;
        window.location.replace("/accounts/login/?next="+path);
      }
    }
    });
  }
  </script>
{% endblock %}
