{% extends "base.html" %}
{% load static %}
{% block title %} My Blogs {% endblock %}

{% block content %}
<div class="container-fluid allblogs-div">
  <div class="container oc-screen">
      {% if messages %}
        <div class="row">
          <div class="col-md-6 mx-auto">
            {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">
                {{msg.message}}
            </div>
            {% endfor %}
          </div>
        </div>
      {% endif %}
      <div class="">
        <div class="row blog-main-heading-outer-div">
            <div class="blog-main-heading-inner-div" style="width: 20%;">
                <h3 class="text-center">My Blogs</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row equal">
                    {% if my_blogs %}
                        {% for blog in my_blogs %}
                        <div class="col-md-4 col-sm-4 col-12">
                        <div class="card card-div">
                          <!-- <img class="card-img-top" src="{% static 'img/banner.jpg' %}" alt="Card image cap"> -->
                            <a href="{% url 'blog:blog_detail' slug=blog.blog_slug %}">
                                <div class="outer-div">
                                    <div class="layer">{{blog.blog_title}}</div>
                                    <div class="inner-div" style='background-image: url("{{blog.banner_image.url}}");'>

                                    </div>
                                </div>
                            </a>
                            <div class="card-body">
                                <div class="blog-intro">
                                  <span></span>
                                  <small>By: <a href="{% url 'blog:filter_by_author' id=blog.blog_author.id %}">{{blog.blog_author|upper}}</a> &nbsp; On: <b>{{blog.created_on|date:"M d, Y"}}</b><span class="pull-right">Status <i class="blog-status-{% if blog.published %}success{% elif blog.submitted_for_moderation %}waiting-for-approval{% else %}draft{% endif %}" data-toggle="tooltip" data-placement="bottom" title="{% if blog.published %}Published{% elif blog.submitted_for_moderation %}Waiting for approval{% else %}Not Published{% endif %}"></i> </span> </small><br><br>
                                  <p>{{blog.blog_subtitle|truncatechars:30}}<a href="{% url 'blog:blog_detail' slug=blog.blog_slug %}" class="text-primary"> <b>Read Blog</b>
                                  </a></p>
                                  <p><span class="badge badge-light blog-badge">{{blog.blog_category}}</span></p>
                                </div>
                            </div>
                          </div>
                        </div>
                        {% endfor %}
                  {% else %}
                  <div class="col-md-8 mx-auto">
                      <h3 class="text-center">You haven't written any blogs yet.</h3>
                  </div>
                  {% endif %}
                </div>
            </div> <!-- End of left side blogs list container -->
        </div>
      </div>

  </div>
</div>
{% endblock %}

{% block extra_js %}
<script type="text/javascript">
$(function () {
    $('[data-toggle="tooltip"]').tooltip()
})
</script>
{% endblock %}
