{% extends "base.html" %}
{% load static %}

{% block title %} {{ blog.blog_title }} {% endblock %}

{% block extra_head %}
<link rel="stylesheet"
      href="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/styles/dracula.min.css">
<script src="//cdn.jsdelivr.net/gh/highlightjs/cdn-release@10.1.2/build/highlight.min.js"></script>
<script>hljs.initHighlightingOnLoad();</script>
{% endblock %}

{% block extra_css %}
<style type="text/css">
      .written-by {
          font-transform: uppercase;
      }

      .heartBtn{
      width: 50px;
      height: 50px;
      border-radius: 5px;
      background: none;
      cursor: pointer;
      transition: background 0.5s ease;
      }
      .heartBtn:hover{

      }
      .active.heartBtn:before,.active.heartBtn:after{
      background: red !important;
      }
      .heartBtn {
        width: 49px;
        height: 37px;
        transition: background 0.5s ease;
        display: table;
        position: relative;
      }
      .heartBtn:before,
      .heartBtn:after {
        transition: background 0.5s ease;
        position: absolute;
        content: "";
        left: 24px;
        top: 5px;
        width: 18px;
        height: 30px;
        background: dimgrey;
        border-radius: 50px 50px 0 0;
        transform: rotate(-45deg);
        transform-origin: 0 100%;
      }
      .heartBtn:after {
        left: 6px;
            transform: rotate(45deg);
            transform-origin: 100% 100%;
      }

      /* profile card */
      .customcard {
        padding-top: 20px;
        margin: 10px 0 20px 0;
        background-color: rgba(214, 224, 226, 0.2);
        border-top-width: 0;
        border-bottom-width: 2px;
        -webkit-border-radius: 3px;
        -moz-border-radius: 3px;
        border-radius: 3px;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .customcard .card-heading {
        padding: 0 20px;
        margin: 0;
    }

    .customcard .card-heading.simple {
        font-size: 20px;
        font-weight: 300;
        color: #777;
        border-bottom: 1px solid #e5e5e5;
    }

    .customcard .card-heading.image img {
        display: inline-block;
        width: 46px;
        height: 46px;
        margin-right: 15px;
        vertical-align: top;
        border: 0;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
    }

    .customcard .card-heading.image .card-heading-header {
        display: inline-block;
        vertical-align: top;
    }

    .customcard .card-heading.image .card-heading-header h3 {
        margin: 0;
        font-size: 14px;
        line-height: 16px;
        color: #262626;
    }

    .customcard .card-heading.image .card-heading-header span {
        font-size: 12px;
        color: #999999;
    }

    .customcard .card-body {
        padding: 0 20px;
        margin-top: 20px;
    }

    .customcard.hovercard {
        position: relative;
        padding-top: 0;
        overflow: hidden;
        text-align: center;
        background-color: rgba(214, 224, 226, 0.2);
    }

    .customcard.hovercard .customcardheader {
      height: 135px;
      background-color: #cdecea;
      background-image: -webkit-linear-gradient(-90deg, #9296ad, yellow);
      background-image: -o-linear-gradient(-90deg, red, yellow);
      background-image: -moz-linear-gradient(-90deg, red, yellow);
      background-image: linear-gradient(-90deg, #539ebb, #808FC8);
    }

    .customcard.hovercard .avatar {
        position: relative;
        top: -50px;
        margin-bottom: -50px;
    }

    .customcard.hovercard .avatar img {
        width: 100px;
        height: 100px;
        max-width: 100px;
        max-height: 100px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        border-radius: 50%;
        border: 5px solid rgba(255,255,255,0.5);
    }

    .customcard.hovercard .info {
        padding: 4px 8px 10px;
    }

    .customcard.hovercard .info .title {
        margin-bottom: 4px;
        font-size: 24px;
        line-height: 1;
        color: #262626;
        vertical-align: middle;
    }

    .customcard.hovercard .info .desc {
        overflow: hidden;
        font-size: 12px;
        line-height: 20px;
        color: #737373;
        text-overflow: ellipsis;
    }

    .customcard.hovercard .bottom {
        padding: 0 20px;
        margin-bottom: 17px;
    }
  /* end of profile card */
</style>
{% endblock %}

{% if request.user.is_anonymous %}
  {% block home_banner %} {% endblock %}
{% endif %}

{% block content %}
  <div class="container blog-detail-container">
      {% if messages %}
        <div class="row">
          <div class="col-md-6 mx-auto">
          {% for msg in messages %}
            <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">
              {{msg.message}}
            </div>
          {% endfor %}
          </div>
        </div>
      {% endif %}

      <div class="modal fade" id="myModal">
        <div class="modal-dialog author-modal-dialog">
          <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
              <h4 class="modal-title">About Author</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Modal body -->
            <div class="modal-body author-modal-body">
              <div class="col-lg-12 col-sm-12">

                <div class="card hovercard customcard">
                  <div class="cardheader customcardheader">
                  </div>
                  <div class="avatar">
                      <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" alt="nah" class="author-avatar" />
                  </div>
                  <div class="info">
                      <div class="title">
                          <a target="_blank" href="https://scripteden.com/">{{blog.blog_author|title}}</a>
                      </div>
                      <div class="desc">{{blog.blog_author.personalinformation.introduction}}</div>
                      <!-- <div class="desc">Curious developer</div>
                      <div class="desc">Tech geek</div> -->
                  </div>
                  <div class="col-lg-12">
                    <h4>Follow me on:</h4>
                  </div>
                  <div class="bottom social-icons-modal">
                    {% if blog.blog_author.personalinformation.facebook %}
                    <a href="{{blog.blog_author.personalinformation.facebook}}" target="_blank">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                    {% if blog.blog_author.personalinformation.twitter %}
                    <a href="{{blog.blog_author.personalinformation.twitter}}"  target="_blank">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if blog.blog_author.personalinformation.linkedin %}
                    <a href="{{blog.blog_author.personalinformation.linkedin}}"  target="_blank">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                    {% endif %}

                    {% if blog.blog_author.personalinformation.github %}
                    <a href="{{blog.blog_author.personalinformation.github}}"  target="_blank">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
              <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
            </div>

          </div>
        </div>
      </div>

      <!-- Warn if user leaves before drafting or submitting blog for moderation. -->
      <div class="modal fade" tabindex="-1" role="dialog" id="warningModal">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Are you sure you want to leave?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>You have unsaved changes that will be lost. Draft it to work later.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save as Draft</button>
                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
      </div>
      <!-- End of warning modal -->

      <div class="detail-blog-banner-and-heading-div">
          <!-- Note Alert when previewed -->
          <div class="col-sm-12">
              {% if submitted_for_moderation %}
              <p class="custom-alert alert-custom-info"> <strong>Note:</strong> Awaiting Moderation Acceptance. </p>
              {% else %}
              {% if is_moderator %}
              <p class="custom-alert alert-custom-warning"> <strong>Note:</strong> You are previewing this blog. Click <strong>'Accept &amp; Publish'</strong> to publish the blog. </p>
              {% else %}
              <p class="custom-alert alert-custom-warning"> <strong>Note:</strong> You are previewing your blog. Click <strong>'Submit for Moderation'</strong> at the bottom to process your blog for publishment. </p>
              {% endif %}
              {% endif %}
          </div>

          <h3 class="banner-heading" data-bid="{{blog.id}}" id="blogHeadingPreview"><b>{{blog.blog_title}}</b></h3>
          <h4 class="banner-subtitle">{{blog.blog_subtitle}}</h4>
          <div class="author-info">
              <div class="row">
                  <div class="col-md-1 col-sm-2 col-2">
                      <a href="#" data-toggle="modal" data-target="#myModal">
                          <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" alt="nah" class="author-avatar">
                      </a>
                  </div>
                  <div class="col-md-6 col-sm-5 col-10">
                      <a href="#" data-toggle="modal" data-target="#myModal">{{blog.blog_author|title}}</a> &nbsp;
                      <a href="#" id="follow-author" data-followa="{{blog.blog_author.id}}">
                        <!-- Author follow check need to include here. -->
                        {% if follows_author %}
                          <span class="badge badge-following">Following</span>
                        {% else %}
                          <span class="badge badge-follow">Follow</span>
                        {% endif %}
                      </a>
                      <br>
                      <span class="article-timestamp">{{blog.created_on}}</span>
                  </div>
                  <div class="social-icons col-md-5 col-sm-5 col-12">
                    <a href="#" target="_blank">
                      <i class="fa fa-facebook-official" aria-hidden="true"></i>
                    </a>

                    <a href="#"  target="_blank">
                      <i class="fa fa-twitter-square" aria-hidden="true"></i>
                    </a>

                    <a href="#"  target="_blank">
                      <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>

                    <a href="#"  target="_blank">
                      <i class="fa fa-github" aria-hidden="true"></i>
                    </a>

                    <a href="#" title="Bookmark" class="blog-bookmark"><i class="fa fa-bookmark-o" aria-hidden="true"></i></a>

                    <!-- <i class="fa fa-bookmark" aria-hidden="true"></i> -->
                  </div>

              </div>
          </div>
          <div class="jumbotron detail-blog-banner" style="background-image: url({{blog.banner_image.url}});">
              <div class="banner-info">

              </div>
          </div>
          <div class="banner-caption">
            {% if blog.banner_image_source %}
              <p>Image Source: {{blog.banner_image_source}}</p>
            {% else %}
            <p></p>
            {% endif %}
          </div>
          <div class="blog-category col-md-12">
            Category:
            <a href="{% url 'blog:filter_by_category' category_slug=blog.blog_category.category_slug %}">
              <span class="badge badge-light blog-badge">{{blog.blog_category}}</span>
            </a>
          </div>
          <!-- <div class="tags col-md-12">
            Tags:
            {% for tag in blog.blog_tags.all %}
              <a href="{% url 'blog:filter_by_tag' tag_slug=tag.tag_slug %}">
                <span class="badge badge-dark blog-badge">{{tag.tag_name}}</span>
              </a>
            {% endfor %}
          </div> -->
          {% if request.user.is_authenticated %}
          <div class="reading-time col-md-12">
            <span class="reading-time__label"></span>
            <span class="reading-time__duration"></span>
            <span class="reading-time__word-count"></span>
          </div>
          {% endif %}
      </div>

      <hr class="hr-50">

      <!-- Blog Body OR Blog Content -->
      <div class="blog-detail-div">
          <div class="blog-body">
              {% if request.user.is_anonymous %}
                {{blog.content|safe|truncatewords:100}}
                <div class="col-md-12 col-sm-10 col-12 mx-auto">
                  <button type="button" id="readFullArticle" class="btn btn-primary btn-lg btn-block">Read Full Article</button>
                </div>
              {% else %}
                  <article class="detail-wrapper">
                    <p>{{blog.content|safe}}</p>
                  </article>
              {% endif %}
          </div>
      </div>
      <!-- Blog Body OR Blog Content End -->

      <div class="row social-icons-and-likes">
          <div class="col-3">
            <div class="row">
              {% if request.user.is_anonymous %}
              {% else %}
              <!-- <button type="button" name="like" class="btn btn-primary">Like <i class="fa fa-thumbs-o-up thumbs-up-icon" aria-hidden="true"></i></button> -->
              {% if like.status is True %}
              <div id='heart{{blog.id}}' class='button heartBtn active' name="like_btn" data-pslug="{{blog.blog_slug}}" data-bid="{{blog.id}}" onclick="likeIt(this.id)"></div>
              {% else %}
              <div id='heart{{blog.id}}' class='button heartBtn' name="like_btn" data-pslug="{{blog.blog_slug}}" data-bid="{{blog.id}}" onclick="likeIt(this.id)"></div>
              {% endif %}
              {% endif %}
           </div>
          </div>
          <div class="col-9 social-icons">
              <i class="fa fa-facebook-official" aria-hidden="true"></i>
              <i class="fa fa-twitter-square" aria-hidden="true"></i>
              <i class="fa fa-linkedin-square" aria-hidden="true"></i>
              <i class="fa fa-github" aria-hidden="true"></i>
              <a href="#" class="circle-icons">
                  <span>
                      <i class="fa fa-circle-o" aria-hidden="true"></i>
                      <i class="fa fa-circle-o" aria-hidden="true"></i>
                      <i class="fa fa-circle-o" aria-hidden="true"></i>
                  </span>
              </a>
          </div>
      </div>

      <!-- Blog author bio -->
      <a href="#" class="author-bio-div-link" style="text-decoration:none;">
          <!-- data-toggle="modal" data-target="#myModal" -->
          <div class="author-bio-div mx-auto">
              <div class="col-md-4 col-sm-4 col-6 author-bio-pic-div">
                  <img src="{% if blog.blog_author.personalinformation.picture %}{{blog.blog_author.personalinformation.picture.url}}{% else %}{% static 'img/default_avatar.jpg' %}{% endif %}" class="img-responsive author-bio-pic pull-right" alt="Author:sashi" width="90px" height="90px">
              </div>
              <div class="col-md-8 col-sm-8 col-12 author-bio">
                  <span class="written-by">About Author</span>
                  <h3 class="author-bio-name">{{blog.blog_author.user.username}}</h3>
                  <!-- Author Introduction should be down in <p> -->
                  <p class="author-bio-para">{{blog.blog_author.personalinformation.full_introduction|truncatewords:15}}</p>
              </div>
          </div>
      </a>

      <!-- Actions -->
      <div class="col-md-8 mx-auto">
        <div class="alert alert-dark">
          <h4> <i class="fa fa-gears"></i> Actions</h4>
          <form class="" id="previewBlogForm" action="" method="post">
            {% csrf_token %}

            {% if is_moderator %}
                <!-- Can directly Publish. -->
                <button type="button" name="button" class="btn btn-success" id="acceptAndPublishBtn" data-bid="{{blog.id}}"><i class="fa fa-check"></i> Accept & Publish</button>
            {% else %}
                <!-- Can Edit or Submit for moderation. -->
                <a href="{% url 'blog:edit_blog_post' id=blog.id slug=blog.blog_slug %}" name="editblog" class="btn btn-primary"><i class="fa fa-edit"></i> Edit</a>
                {% if not submitted_for_moderation %}
                    <button type="button" name="button" class="btn btn-success" id="submitForModerationPreview"><i class="fa fa-exchange"></i> Submit For Moderation</button>
                {% endif %}
            {% endif %}
          </form>
        </div>
      </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/read-time-count.js' %}"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mo-js/0.288.2/mo.min.js">

  </script>

  <script type="text/javascript">

    document.addEventListener('DOMContentLoaded', (event) => {
        new ReadingTime(200, 'Read time:', 'min', 'words', 'Less than a minute');
    });

    $("#submitForModerationPreview").on("click", function() {
      event.preventDefault();
      var blog_id = $("#blogHeadingPreview").attr("data-bid");
      $.ajax({
          url: "{% url 'blog:submit_for_moderation' %}",
          type: "POST",
          data: {
              "csrfmiddlewaretoken": "{{csrf_token}}",
              "type": "submitForModerationPreview",
              "blog_id": blog_id
          },
          dataType: "json",
          success: function(result) {
              if(result && result.redirect_to) {
                  window.location.href = result.redirect_to;
              }
          },
          error: function(error) {
              // do something.
          }
      }); // end ajax call.

    });

    $("#acceptAndPublishBtn").on("click", function(e) {
        e.preventDefault();
        var blogId = $("#acceptAndPublishBtn").attr("data-bid");

        // publish and mark as accepted.
        $.ajax({
            url: "{% url 'blog:accept_and_publish' id=0 %}".replace(0, blogId),
            data: {"csrfmiddlewaretoken": "{{csrf_token}}", "blog_id": blogId},
            dataType: "json",
            type: "POST",
            success: function(result) {
                if(result.status == "success") {
                    window.location.href = "{% url 'user:index' %}";
                }
            }
        });
    });
  </script>
{% endblock %}
