{% extends "auth_base.html" %}

{% load static %}

{% block extra_head %}

{% endblock %}

{% block extra_css %}
<!-- <style type="text/css">

</style> -->
{% endblock %}

{% block content %}
  <div class="container oc-screen">
    <h1 class="text-center blog-category-page-heading">Select the Categories you are interested in.</h1>
    {% if messages %}

        {% for msg in messages %}

        <div class="alert alert-{{msg.level_tag}} custom-messages" role="alert">

            {{msg.message}}
        </div>

        {% endfor %}

    {% endif %}

    <div class="row" id="checkboxes">
      <form class="col-md-12 form-inline" action="{% url 'user:user_interests' %}" method="post">
        {% csrf_token %}
        {% for category in categories %}
        <div class="col-md-3 col-sm-6 col-6 form-group category-item">
          <label class="label">
            <input type="checkbox" name="rGroup" value="{{category.slug}}" id="{{category.id}}" {% if category in user_interests %}checked="checked"{% endif %}/>
            <label class="whatever" for="{{category.id}}">{{category.name}}</label>
          </label>
        </div>
        {% endfor %}

        <div class="col-md-12">
          <div class="col-md-6 form-group category-item mx-auto">
            <input type="submit" name="saveCategory" value="Save" class="btn btn-success">
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
